.ProseMirror table {
  width: 100%;
  border-collapse: collapse;
}

.ProseMirror th,
.ProseMirror td {
  border: 1px solid #ccc;
  padding: 6px;
}

.ProseMirror th {
  background: #f5f5f5;
}

.ProseMirror h1 {
  font-size: 1.875rem; /* text-3xl */
  font-weight: 700;
  margin: 0.8em 0 0.4em;
}

.ProseMirror h2 {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 600;
  margin: 0.7em 0 0.4em;
}

.ProseMirror h3 {
  font-size: 1.25rem; /* text-xl */
  font-weight: 600;
  margin: 0.6em 0 0.3em;
}

.ProseMirror p {
  margin: 0.4em 0;
}

/* Unordered list */
.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5rem; /* indent */
  margin: 0.5rem 0;
}

.ProseMirror ul ul {
  list-style-type: circle;
}

/* Ordered list */
.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 1.5rem; /* indent */
  margin: 0.5rem 0;
}

.ProseMirror li {
  margin: 0.25rem 0;
}